<!-- INCLUDE overall_header.html -->

<form method="post" action="{S_CROP_ACTION}" id="coords" class="coords">

<div class="panel jc-demo-box">

	<div class="inner">

		<h2>{L_AVATAR_UPLOAD}</h2>

		<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->

		<div id="cp-menu">

			<div class="cp-mini" id="preview-pane">
				<div class="preview-container" style="width: 160px; height: 160px; overflow: hidden">
					<img src="{AVATAR_FILE}" class="jcrop-preview" alt="Preview" />
				</div>
			</div>

			<div id="interface"></div>

			<div class="cp-mini">
				<label class="checkbox">
					<input type="checkbox" id="fadetog" /> {L_FADETOG}
				</label>
			</div>

			<div class="cp-mini">
				<label class="checkbox">
					<input type="checkbox" id="shadetog" /> {L_SHADETOG}
				</label>
			</div>

			<div id="shadetxt" class="hidden">
			<span class="error">Experimental shader active.</span> Jcrop now includes a shading mode that facilitates building better transparent Jcrop instances. The experimental shader is less robust than Jcrop's default shading method and should only be used if you require this functionality.
			</div>

		</div>

		<div id="cp-main">
			<!--  style="overflow:auto" -->
			<div class="content"><img id="target" src="{AVATAR_FILE}" width="{IMG_WIDTH}" height="{IMG_HEIGHT}" alt="" /></div>
		</div>

		<p>{L_AVATAR_UPLOAD_EXT}</p>
	</div>

	<table class="table1">
		<thead>
			<tr>
				<th>{L_SIZE_X1}</th><th>{L_SIZE_X2}</th>
				<th>{L_SIZE_Y1}</th><th>{L_SIZE_Y2}</th>
				<th>{L_SIZE_WIDTH}</th><th>{L_SIZE_HEIGHT}</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td class="bg1"><input type="number" class="inputbox autowidth" id="x1" name="x1" value="{SIZE_X1}" /></td>
				<td class="bg2"><input type="number" class="inputbox autowidth" id="x2" name="x2" value="{SIZE_X2}" /></td>
				<td class="bg1"><input type="number" class="inputbox autowidth" id="y1" name="y1" value="{SIZE_Y1}" /></td>
				<td class="bg2"><input type="number" class="inputbox autowidth" id="y2" name="y2" value="{SIZE_Y2}" /></td>
				<td class="bg1"><input type="number" class="inputbox autowidth" id="w" name="w" value="{SIZE_WIDTH}" /></td>
				<td class="bg2"><input type="number" class="inputbox autowidth" id="h" name="h" value="{SIZE_HEIGHT}" /></td>
			</tr>
		</tbody>
	</table>

</div>

<div class="panel">
	<div class="inner">

	<fieldset class="submit-buttons">
		{S_HIDDEN_FIELDS}
		<input type="submit" name="submit" id="submit" value="{L_SUBMIT}" class="button1 default-submit-action" />
		{S_FORM_TOKEN}
	</fieldset>

	</div>
</div>

</form>

<!-- INCLUDE overall_footer.html -->
